!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    %nav.topbar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1 
          %a{:href => "#"} Food Truck App
      / %li.toggle-topbar.menu-icon
      /   %a{:href => "#"} Menu
    %section.top-bar-section
      %ul.right
        %li.has-dropdown
          %a{:href => "#"} Account
          %ul.dropdown
            %li
              %a{:href => "#"} Log In
            %li
              %a{:href => "#"} Log Out
    %container
      = yield
      = javascript_include_tag "application"
      = yield :scripts